.book{
  width: 300px;
  height: 300px;
}


.bookComment{
  height: 30px;
  top: 70px;
  right: -70px;
}

.bookComment:hover{
  animation: markAnimation 0.3s linear forwards;
}

.deviceDisplay{
  min-height: calc(100vh - 255px);
}
  

@keyframes markAnimation {
  from{
    right: -70px;
  }
  to{
    right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .deviceDisplay {
    min-height: calc(100vh - 289px);
  }
}