nav{
    background-color:#75B2BF;
}

nav a{
    color: white !important;
}

.myButton{
    border: 1px solid white;
    background-color: transparent ;
}

.myButton:hover{
    animation: transition 0.2s ease-in forwards !important;
}


.blackBord{
    border: 1px solid black;
}

@keyframes transition {
    from{
        background-color: transparent;
    }
    to{
        background-color: #D97941;
    }
}

.figureImgModale{
    width: 80px;
    height: 80px;
}

.figureImgModale img{
    object-fit: cover;
}